
    body {
        background-color: #efeee7;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #333333;
        margin: 0;
        padding: 0;
        
        
        
    }
    header {
        background-color: #333333
    }
    h1 {
        color: #eee;
        font-size: 28px;
        text-align: center;
        margin: 5% 0;
        padding: 1em;
    }
    h2 {
        font-size: 24px;    
    }
    #container { 
        width: 1024px;
        margin: 5% 0;

    }
    #main-bio {
        float: left;
        width: 70%;
        margin: auto;
    }
    #contact-info {
        float: left;
        width: 30%;
        text-align: left;
        margin: auto

    }

    #bio-image {
        float: left;
        width: 200px;
        margin: auto;
    }
    a:link {
        color: #d21034
    }

 


